$color1: #ffffff;
$color2: #fafafa;
$color3: #d0d4e4;
$color4: #0073ea;
$color5: rgb(59, 58, 58);

$layoutPadding: 20px;

$break-narrow: 700px;
$break-normal: 1020px;
$break-wide: 1500px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;